.col-xs-1 {
  border: solid darkgray 1px;
  height: 50px!important;
  background-color: lightgrey!important;
}

.dungeon {
  color: rgb(244,115,218);
  text-align: center;
}

.bloody {
  color: rgb(138,7,7);
  text-align: center;
}

.right-half, .left-half, .col-xs-1 {
  padding: 0px!important;
}

#body-id {
  background-color: black;
}
