.prologue, .you-won {
  color: white!important;
  text-align: center;
}

.you-died {
  background-color: black;
  color: rgb(158,7,7);
  text-align: center;
  margin: 100px;
  padding: 100px
}

#first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eigth, #ninth, #tenth, #first1, #second1, #third1, #fourth1, #fifth1, #sixth1, #seventh1, #eigth1, #ninth1, #tenth1 {
  display: none;
}

#tenth, #eigth1 {
  color: rgb(158,7,7);
}

#ninth1 {
  margin-top: 40px;
}

.win {
  background-image: url('../images/exit.png');
  background-size: 50px 50px;

}

.body-id {
  /*background-color: rgba(0,0,0,.7);*/
  background-image: url('../images/bone dungeon.jpg');
}

.header {
  background-color: rgba(50,50,50,.8);
  border: solid rgba(0,0,0, 1);
  border-width: 5px 5px 5px 5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.col-xs-1 {
  border: solid darkgray 1px;
  height: 50px!important;
  background-color: lightgrey;
}

.left-half {
  border: solid rgba(0,0,0,.5);
  border-width: 10px 0px 10px 10px;
}

.left-half-two{
  border: solid rgba(0,0,0,.5);
  border-width: 10px 10px 10px 10px;
  background-color: rgba(150,150,150,.85);
  text-align: center;
}

.right-half {
  border: solid rgba(0,0,0,.5);
  border-width: 10px 10px 10px 0px;
}

.right-half-two {
  border: solid rgba(0,0,0,.5);
  border-width: 10px 10px 10px 10px;
  background-color: rgba(150,150,150,.85);
  text-align: center;
}

.rock {
  background-image: url('../images/stone.png');
  background-repeat: no-repeat;
  background-position: center;
}

.dungeon {
  color: rgb(244,115,218);
  text-align: center;
}

.bloody {
  color: rgb(158,7,7);
  text-align: center;
}

.right-half, .left-half, .col-xs-1 {
  padding: 0px!important;
}

.hidden {
  visibility: hidden!important;
}

.battle-name {
  /*text-align: center;*/
  text-decoration: underline;
  /*margin-top: 0px;*/
  display: inline-block;
}

.fighter{
  padding: 10px;
}

.bottom-row {
  margin: 10px;
}

.bottom-right-row {
  margin-bottom: 64px;
}

.action-text {
  height: 120px;
  margin-top: 10px;
  background-color: rgba(150,150,150,.85);
  border: solid rgba(0,0,0,.5);
  border-width: 10px 10px 10px 10px;
}
